{% extends 'ApplicationUserBundle::layout.html.twig' %}
{% block title %}
    {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block body %}
    <div class="form-box" id="registration-box">
        <div class="header">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</div>
        <form name="application_user_registration" method="POST" {{ form_enctype(form) }}>
            <div class="body bg-gray">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_widget(form) }}
                <a href="{{ path('application_sonata_admin_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            </div>

            <div class="footer">
                <button type="submit" id="_submit" name="_submit" class="btn bg-olive btn-block">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
        </form>
    </div>
{% endblock %}
